* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Header */
.header{
    width: .8;
    margin: auto;
    text-align: center;
}

.field{
    fill: grey;
}

.mineField{
    fill: red;
}

.numberField{
    fill: lightgrey;
}

.fieldValue{
    text-align: center;
    vertical-align: 50%;
    display: none;
}

.fieldMarked{
    fill: blue;
}

.fieldImg{
    z-index: -1;
}